.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid #495E57;; 

}

input, select, button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellowgreen;
    width: 90%;

}

.date-icon {
  padding-left: 25px;
  background: url("../assets/date-calendar-schedule-event-appointment-svgrepo-com.svg") no-repeat left;
  background-size: 20px;
}
.time-icon {
  padding-left: 25px;
  background: url("../assets/clock-three-svgrepo-com.svg") no-repeat left;
  background-size: 20px;
}
.gift-icon {
  padding-left: 25px;
  background: url("../assets/gift-svgrepo-com.svg") no-repeat left;
  background-size: 20px;
}
.form > label {
    margin-top: 10px;
    margin-left: 10px;
}

.form > #submit{
    width: 80%;
    border-radius: 20px;
}

.reservation-header {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation-header > h2 {
    position: absolute;
    top: 40%;
    /* left: 40%; */
    font-weight:bold;
    font-size:40px;
    color: rgb(32, 31, 31);

}
.reservation-header > h4 {
    position: absolute;
    top: 60%;
    /* left: 40%; */
    font-weight:bold;
    font-size:20px;
    color: rgb(32, 31, 31);

}

.reservation-header > img {
    border-radius: 8px;
}

/* Enabled State */
#submit {
  background-color: #F4CE14; /* Little Lemon Yellow */
  color: #495E57; /* Little Lemon Dark Green */
  cursor: pointer;
  transition: 0.3s;
}

#submit:hover {
  background-color: #edc300;
}

/* Disabled State */
#submit:disabled {
  background-color: #EDEFEE; /* Light Gray */
  color: #888888;
  cursor: not-allowed;
  border: 1px solid #CCCCCC;
  opacity: 0.7;
}